.doc {

    background-color: aqua;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
  }

.batbat {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}